<H2>Introduction to Animation</H2>
    <p>The way we interact with interfaces has changed in the last years.</p>
     <p>Thanks to the popularity of smartphones and the blurring of lines between phones, tablets and computers, the expectation of what interacting with an interface should feeld like have changed. These small pocket-sized computers have become a part of daily life and their interfaces feel mor alive with their gestures, depth and animation. Even the major operating systems like Windows ans OSX have begun using animation as a core part of there design and Interactions.</p>
     <p>In comparison static Interfaces and prototypes - the kind that the web defaulted to for so long, due to lack of options – can feel dated and a bit dull. When compared, at best they seem to lack the sophistication of interfaces that include animation. At worst static interfaces feel broken and frustrating.</p>
     <p>Used responsibly animated interfaces have cognitive benefits for your users by reducing mental loads, and reducing change blindness.</p>
     <p>The aim of this component library is to help building prototypes that are less static and feel more like a real product. The animated components are meant for prototyping surposes. when using animations in a real product it is necessary to align th animation to the Product or brand. When the personality of an animation is not aligned to the personality of your brand things feel wrong and the design will not feel consistent.</p>
     <H3>Usefull Animation</H3>
     <p>To figure out whether to use an animation ore not, you should ask yourself some questions:</p>
     <ul>
     	<li>Does the animation help to increase the usability of the product?</li>
     	<li>Does it help to increase personality of the product?</li>
     	<li>Does it help to increase "the joy of use"?</li>
     </ul>
     <p>If none of the questions above can be answered with "Yes", it might be better not to use an animation in this context.</p>
     <h4>Examples for usefull animation</h4>
     <ul>
     	<li>Animations, that help understand the state of an interactive element (e.g. mouseover, focused, pressed) </li>
     	<li>Animations, that help to drive the focus of the user to a particular element (e.g. Dialoges, hints and messages)</li>
     	<li>Animations, that help to understand that particular elements have been loaded dynamic (f.e. new list entry)</li>
     	<li>Animations, that help that help to understand that content is loaded but the action is ongoing (f.e. progress indicators, loading indicators)</li>
     	<li>Animations, that help to increase the user experience of the product or increase the emotional bond between the application and the user (f.e. physically correct animations that make the interface feeling more liefelike)</li>
     </ul>