<div class="Prose">
    <p>Bootstrap Modals</p>
</div>
<p data-height="600" data-theme-id="0" data-slug-hash="jYxqYP" data-default-tab="result" data-user="vitamin_J" data-embed-version="2" data-pen-title="Velocity Bootstrap 4 Modals" class="codepen">See the Pen <a href="https://codepen.io/vitamin_J/pen/jYxqYP/">Velocity Bootstrap 4 Modals</a> by Julian Mengel (<a href="https://codepen.io/vitamin_J">@vitamin_J</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>