<div class="Prose">
    <p>Simpe example for an Off Canvas Menu</p>
</div>
<p data-height="600" data-theme-id="0" data-slug-hash="rYYppN" data-default-tab="result" data-user="vitamin_J" data-embed-version="2" data-pen-title="Simple Off Canvas Menu" class="codepen">See the Pen <a href="https://codepen.io/vitamin_J/pen/rYYppN/">Simple Off Canvas Menu</a> by Julian Mengel (<a href="https://codepen.io/vitamin_J">@vitamin_J</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
   
