<div class="Prose">
    <p>Button with Success- or Error feedback</p>
</div>
<p data-height="600" data-theme-id="0" data-slug-hash="gXGYwN" data-default-tab="result" data-user="vitamin_J" data-embed-version="2" data-pen-title="Bootstrap Success Button Velocity" class="codepen">See the Pen <a href="https://codepen.io/vitamin_J/pen/gXGYwN/">Bootstrap Success Button Velocity</a> by Julian Mengel (<a href="https://codepen.io/vitamin_J">@vitamin_J</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
