<p>
	<button type="button" class="btn btn-primary">Primary</button>
	<button type="button" class="btn btn-secondary">Secondary</button>
	<button type="button" class="btn btn-link">Link</button>
</p>

<p>
	<button type="button" class="btn btn-outline-primary">Primary</button>
	<button type="button" class="btn btn-outline-secondary">Secondary</button>
</p>

<p>
	<button type="button" class="btn btn-primary btn-lg">Large Button</button>
	<button type="button" class="btn btn-secondary btn-lg">Large Button</button>
</p>

<p>
	<button type="button" class="btn btn-primary btn-sm">Small Button</button>
	<button type="button" class="btn btn-secondary btn-sm">Small Button</button>
</p>

<p>
	<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
</p>
